page-signup {
    .main{
        text-align: center;
        ion-item{
            margin: 0 auto;
            width: 80%;
            background-color: rgb(247,247,247);
            ion-icon{
                color: #8E8E8E;
            }
        }
    }
}
