page-neirong {
// 
ion-title{
    height: 50px;
    text-align: center;
}
.date{
    float: right;
}
.btn{
    width:50px;
    position: relative;
    left: 25%;
    margin: 0;
}
#shc{
    font-size: 25px;
    position: relative;
    left: 80%;
    bottom: 30px;
    margin: 0;
}
.div{
    border-bottom: 1px solid gray;
}

}
